/* =========================
   Multi-select
   ========================= */

   .row[data-multi-owner].multi {
    background: #eaeaea !important;
    border-radius: 2px;
  }
  
  .row[data-multi-owner].multi-anchor {
    box-shadow: inset 0 0 0 1px #0b4f9c;
  }